<h3>MÁS GALERÍAS</h3>

<div class="galerias-container">
<div class="card mb-3">
    <img src="assets\card1.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Una erupción estelar</h5>
      <p class="card-text">En 2014, esta imagen de Boris ganó el primer premio en el concurso National Geographic Russia Wild Nature. La toma muestra el monte Elbrus, un volcán dormido y el pico más alto al norte del Cáucaso, así como de toda Europa, situado a 5.642 metros sobre el nivel del mar. </p>
      <p class="card-text"><small class="text-body-secondary">Héctor Rodríguez</small></p>
    </div>
  </div>
  <div class="card mb-3">
    <img src="assets\card2.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Estas fotografías de la Vía Láctea no parecen reales, pero sí lo son</h5>
      <p class="card-text">Por sexto año consecutivo, el blog de fotografía y viajes Capture the Atlas hizo su selección anual de las mejores fotografías de la Vía Láctea; una colección de imágenes que en el marco del certamen anual Milky Way Photographer of the Year, se publica cada año a finales de mayo coincidiendo con el pico de la temporada de la Vía Láctea </p>
      <p class="card-text"><small class="text-body-secondary">Héctor Rodríguez</small></p>
    </div>
  </div>
  <div class="card mb-3">
    <img src="assets\card3.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">The Big Picture 2023: una oda fotográfica a la biodiversidad</h5>
      <p class="card-text">Bajo el lema "De lo bello a lo extraño", cada una de las imágenes seleccionadas busca a su manera inspirar a los espectadores a proteger y conservar la notable diversidad de la vida en la Tierra. A continuación os mostramos las fotografías ganadoras de la competición de este año, la cual celebra su décimo aniversario.</p>
      <p class="card-text"><small class="text-body-secondary">Héctor Rodríguez</small></p>
    </div>
  </div>

<!-- 

  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Estas fotografías de la Vía Láctea no parecen reales, pero sí lo son</h5>
      <p class="card-text">Por sexto año consecutivo, el blog de fotografía y viajes Capture the Atlas hizo su selección anual de las mejores fotografías de la Vía Láctea; una colección de imágenes que en el marco del certamen anual Milky Way Photographer of the Year, se publica cada año a finales de mayo coincidiendo con el pico de la temporada de la Vía Láctea.</p>
      <p class="card-text"><small class="text-body-secondary">Héctor Rodríguez</small></p>
    </div>
    <img src="assets\card2.jpg" class="card-img-bottom" alt="...">
  </div>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">The Big Picture 2023: una oda fotográfica a la biodiversidad</h5>
      <p class="card-text">Bajo el lema "De lo bello a lo extraño", cada una de las imágenes seleccionadas busca a su manera inspirar a los espectadores a proteger y conservar la notable diversidad de la vida en la Tierra. A continuación os mostramos las fotografías ganadoras de la competición de este año, la cual celebra su décimo aniversario. </p>
      <p class="card-text"><small class="text-body-secondary">Héctor Rodríguez</small></p>
    </div>
    <img src="assets\card3.jpg" class="card-img-bottom" alt="...">
  </div>

</div> -->