<button (click)="setearFiltro('todas')">Todas</button>
<button (click)="setearFiltro('completadas')">Completadas</button>
<button (click)="setearFiltro('incompletas')">Incompletas</button>

<h2>Ingrese una tarea</h2>
<input type="text" [(ngModel)] ="valor_input" />
<button class="btn btn-dark" (click)="agregarTarea()">Agregar</button>

<ul>
    <!-- <li *ngFor="let tarea of tareas" [ngClass]="{'tachado': tarea.estado}"> -->
        <li *ngFor="let tarea of tareasFiltradas" [ngClass]="{'tachado': tarea.estado}">
        <input type="checkbox" [(ngModel)]="tarea.estado">
        {{tarea.descripcion}} - {{tarea.fecha | date}}
    </li>
</ul>
