


<nav id="sidebar" class="bg-dark ">
    <div class="sidebar-header ">
        <h3 class="text-light">Proyectos en Angular</h3>
    </div>

    <ul class="list-unstyled components">

        <li>
            <a routerLink="proyecto1">Proyecto 1</a>
        </li>

        <li>
            <a routerLink="proyecto2">Proyecto 2</a>
        </li>
        <li>
            <a routerLink="proyecto3">Proyecto 3</a>
        </li>
    </ul>
</nav>


<!-- 
<div class="container-fluid">
    <div class="row m-0">
        <div class="col-md-3 p-0">
            <nav id="sidebar" class="bg-dark">
                <div class="sidebar-header p-0">
                    <h3>Proyectos en Angular</h3>
                </div>
                <div>
                <ul class="list-unstyled components m-0">
                    <li>
                        <a href="#">Proyecto 1</a>
                    </li>
                    <li>
                        <a href="#">Proyecto 2</a>
                    </li>
                    <li>
                        <a href="#">Proyecto 3</a>
                    </li>
                </ul>
            </div>
            </nav>
        </div>
        <div class="col-md-9">
          
        </div>
    </div>
</div> -->

